<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="task_control.css" rel="stylesheet" type="text/css">
    <title>Кулинарная книга</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="main_page">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-image: url(img/top2.png); border-bottom: 1px solid #000000;">
            <div class="collapse navbar-collapse" id="navbarNav">
                <template v-if="user_id != null">Пользователь: {{user_name}} <pre>  </pre></template>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id == 1" class="nav-link" href="add_ingredient_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 180px; border: 1px solid #000000; text-align: center; color: black">Добавить ингредиент</a>
                    </li>
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id != null" class="nav-link" href="add_recipe_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 155px; border: 1px solid #000000; text-align: center; color: black">Добавить рецепт</a>
                    </li>
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id != null" class="nav-link" href="fridge_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; border: 1px solid #000000; text-align: center; color: black">Холодильник</a>
                    </li>
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id != null" class="nav-link" href="" @click="exit()" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; border: 1px solid #000000; text-align: center; color: black">Выход</a>
                    </li>
                    <li class="nav-item" style="margin-right: 6%">
                        <a v-if="user_id == null" class="nav-link" href="" data-toggle="modal" data-target="#Entry" @click="before_modal_window()" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; border: 1px solid #000000; text-align: center; color: black">Вход</a>
                    </li>
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id == null" class="nav-link" href="" data-toggle="modal" data-target="#Registration" @click="before_modal_window()" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; border: 1px solid #000000; text-align: center; color: black">Регистрация</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="http://localhost:3000/" style="margin-left: 5%"><img src="img/logo2.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-lg-2 navbar-container categories" style="padding-top: 70px;">
                    <!--вертикальное меню-->
                    <nav class="navbar navbar-expand-md navbar-light st" style="">
                        <div>
                            <a class="navbar-brand" style="color: #d99600; font-size: 17px; text-align: center">
                                <img src="img/logo.png">
                                <br>САЙТ ОТЛИЧНЫХ РЕЦЕПТОВ
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar">
                            <!--пункты вертикального меню-->
                            <ul class="navbar-nav">
                                <br>
                                <li class="nav-item">
                                    <input class="form-control mr-sm-2" type="search" v-model="search_str" @change="refresh()" placeholder="Поиск" aria-label="Search">
                                </li>
                                <br>
                                <li class="nav-item">
                                    <p v-if="user_id != null" style="color: white; width: 200px"><input type="checkbox" v-model="from_fridge" @change="refresh()"> Учитывать продукты в холодильнике</p>
                                </li>
                                <li class="nav-item">
                                    <b class="navbar-brand" style="color: white">Категории</b>
                                </li>
                                <button type="button" class="one_px_border btn-sm white_button" style="margin-right: 10px; background-color: white" @click="check_all()">Выделить все</button>
                                <br>
                                <li v-for="category in categories" class="nav-item">
                                    <p style="color: white"><input type="checkbox" v-model="category.check" @change="refresh()"> {{category.name}}</p>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-8 col-lg-9 content-container" style="padding-top: 70px">
                    <!--область справа-->
                    <!--блок рецепта-->
                    <div v-for="recipe in cur_page_recipes">
                        <br>
                        <form style="background-color: #ffffff; border-radius: 10px; margin-left: 5%;">
                            <div style="background-color: #01212b; color: white; border-radius: 10px 10px 0px 0px; word-break: break-all; white-space:pre-wrap"><h3 align="center" style="text-transform:uppercase;">- {{recipe.name}} -</h3></div>
                            <div class="row">
                                <div class="col" position="center">
                                    <img :src="recipe.picture" :alt="recipe.name" width="400" style="margin: 3%">
                                </div>
                                <div class="col">
                                    <p align="left" style="margin: 10px; min-width: 200px">{{recipe.description}}</p>
                                    <a href="recipe_page.html"><button type="button" class="one_px_border btn-sm white_button" align="bottom" @click="get_recipe(recipe.id)">К рецепту</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>

                    <!--страницы-->
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li v-for="i in page_cnt" class="page-item"><div class="page-link white_button one_px_border" @click="get_cur_page_list(i)">{{i}}</div></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>

        <!--модальное окно регистрации-->
        <div class="modal fade" id="Registration" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Регистрация</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Логин</label>
                                <input type="text" class="form-control" :class="{'border-danger': wrong_login}" placeholder="Введите логин" v-model="login">
                                <label style="font-size: 10pt; color: red" v-if="wrong_login">{{error_login}}</label>
                                <br>
                                <label>Пароль</label>
                                <input type="password" class="form-control" :class="{'border-danger': wrong_password}" placeholder="Введите пароль" v-model="password">
                                <label style="font-size: 10pt; color: red" v-if="wrong_password">*введите пароль</label>
                                <br>
                                <label>Повторите пароль</label>
                                <input type="password" class="form-control" :class="{'border-danger': wrong_rep_password}" placeholder="Введите пароль еще раз" v-model="rep_password">
                                <label style="font-size: 10pt; color: red" v-if="wrong_rep_password">{{error_rep_password}}</label>
                                <br>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" @click="registartion()" data-dismiss="null">Зарегистрироваться</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <!--модальное окно входа-->
        <div class="modal fade" id="Entry" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Вход</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Логин</label>
                                <input type="text" class="form-control" :class="{'border-danger': wrong_login}" placeholder="Введите логин" v-model="login">
                                <label style="font-size: 10pt; color: red" v-if="wrong_login">{{error_login}}</label>
                                <br>
                                <label>Пароль</label>
                                <input type="password" class="form-control" :class="{'border-danger': wrong_password}" placeholder="Введите пароль" v-model="password">
                                <label style="font-size: 10pt; color: red" v-if="wrong_password">*введите пароль</label>
                                <br>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" @click="entry()" data-dismiss="null">Войти</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var $env;
        var main_page = new Vue({
            el: '#main_page',
            data: {
                //---Структурные переменные---
                filter_recipes: [],		//список рецептов в соответствии с фильтром
                cur_page_recipes: [],	//список рецептов на текущей странице
                page_cnt: null,			//количество страниц
                recipes_at_one_page: 10,//количество рецептов на одной странице
                search_str: '',			//строка поиска
                from_fridge: false,		//галка поиска по холодильнику

                //---Переменные для работы с модальными окнами---
                login: null,				//логин
                wrong_login: null,			//наличие ошибок логина
                error_login: null,			//текст ошибки для логина

                password: null,				//пароль
                wrong_password: null,		//наличие ошибок пароля

                rep_password: null,			//повторный пароль
                wrong_rep_password: null,	//наличие ошибок повторного пароля
                error_rep_password: null,	//текст ошибки для повторного пароля

                //временные массивы для получения данных с запросов
                tmp_arr_categories: [],
                tmp_arr_recipes: [],

                //категории (структура - id, name, check)
                categories: [],

                //рецепты (структура - id, name, picture, description, categories[], ingredients_id[], ingredients_count[])
                recipes: [],

                //список всех ингредиентов (структура - id, name, category, unit)
                ingredients: [],

                //продукты из холодильника (структура - id, name, unit, count)
                fridge: [],

                //id текущего пользователя
                user_id: null,

                //логин текущего пользователя
                user_name: null,

                //ссылки для запросов
                url: {
                    categories: '/Category_dish',	//получение категорий блюд
                    recipes: '/Mini_recipes',		//получение списка кратких рецептов
                    auth_user: '/Auth',				//авторизация пользователя
                    check: '/check',				//проверка, авторизован ли пользователь (через куки)
                    products: '/Products',			//получение списка всех ингредиентов
                    fridge: '/Fridge',				//получение списка ингредиентов из холодильника
                    exit: '/exit',					//выход из аккаунта
                    registration: '/Reg',			//регистрация пользователя
                    id_recipe: '/id_res'			//отправляем на сервер id рецепта, на который перешли
                }
            },
            created: function () {

                //отправляем запрос на получение кратких рецептов
                axios.get(this.url.recipes).then((response) => {
                    this.tmp_arr_recipes = [];
                    this.tmp_arr_recipes = response.data;
                });

                //отправляем запрос на получение категорий блюд
                axios.get(this.url.categories).then((response) => {
                    this.tmp_arr_categories = [];
                    this.tmp_arr_categories = response.data;
                });

                //отправляем запрос на получение списка всех ингредиентов
                axios.get(this.url.products).then((response) => {
                    this.ingredients = [];
                    this.ingredients = response.data;
                });

                //отправляем запрос, авторизован ли пользователь (через куки)
                axios.get(this.url.check).then((response) => {
                    if (response.data != '!') {
                        this.user_id = response.data[0].id;
                        this.user_name = response.data[0].login;
                    }
                });
            },
            watch: {

                //проверяем заполнение поля с паролем
                password: function () {
                    if (this.password.length > 0)
                        this.wrong_password = false;
                    else
                        this.wrong_password = true;
                },

                //проверяем заполнение поля с повторным паролем
                rep_password: function () {
                    //проверка на пустоту
                    if (this.rep_password.length > 0)
                        this.wrong_rep_password = false;
                    else {
                        this.wrong_rep_password = true;
                        this.error_rep_password = '*введите пароль еще раз';
                    }
                    //проверяем совпадение паролей
                    if (this.password != this.rep_password) {
                        this.wrong_rep_password = true;
                        this.error_rep_password = '*введенные пароли не совпадают';
                    }
                },

                //проверяем заполнение поля с логином
                login: function () {
                    if (this.login.length > 0)
                        this.wrong_login = false;
                    else {
                        this.wrong_login = true;
                        this.error_login = '*введите логин';
                    }
                },

                //авторизация пользователя
                user_id: function () {
                    if (this.user_id == null)
                        return;

                    $env = this;

                    //получаем холодильник
                    axios.get(this.url.fridge, {
                        params: {
                            id: this.user_id
                        }
                    }).then(function (response) {
                        $env.fridge = response.data;
                    })
                },

                //заполнение массива категорий с запроса
                tmp_arr_categories: function () {
                    for (i = 0; i < this.tmp_arr_categories.length; i++)
                        this.categories[i] = {
                            id: this.tmp_arr_categories[i].ID,
                            name: this.tmp_arr_categories[i].name,
                            check: false
                        };

                    //обновляем страницы
                    this.count_pages();
                    this.get_cur_page_list(1);
                },

                //заполнение массива мини-рецептов с запроса
                tmp_arr_recipes: function () {
                    for (i = 0; i < this.tmp_arr_recipes.length; i++) {
                        //парсим строку в массив
                        var categor = JSON.parse(this.tmp_arr_recipes[i].category);
                        var n_ingredients_id = JSON.parse(this.tmp_arr_recipes[i].ingredients_id);
                        var n_ingredients_count = JSON.parse(this.tmp_arr_recipes[i].ingredients_count);

                        this.recipes[i] = {
                            id: this.tmp_arr_recipes[i].id,
                            name: this.tmp_arr_recipes[i].name,
                            picture: this.tmp_arr_recipes[i].img,
                            description: this.tmp_arr_recipes[i].descr,
                            categories: categor[0],
                            ingredients_id: n_ingredients_id[0],
                            ingredients_count: n_ingredients_count[0]
                        };
                    }
                }

            },
            methods: {

                //формирование списка рецептов в соответствии с фильтрами
                count_pages() {
                    this.filter_recipes = [];
                    all_uncheck = true;

                    for (j = 0; j < this.categories.length; j++) {
                        if (this.categories[j].check) {
                            all_uncheck = false;
                            break;
                        }
                    }

                    if (all_uncheck)
                        this.filter_recipes = this.recipes;
                    else {
                        i = 0;
                        for (j = 0; j < this.recipes.length; j++) {
                            include = false;

                            for (k = 0; k < this.recipes[j].categories.length; k++) {
                                //проверяем, чтобы хотя бы одна из категорий рецепта была активна в фильтре
                                if (this.categories[this.recipes[j].categories[k] - 1].check) {
                                    include = true;
                                    break;
                                }
                            }

                            if (!include)
                                continue;
                            if (this.recipes[j] != null)
                                this.filter_recipes[i] = this.recipes[j];
                            else
                                break;
                            i++;
                        }
                    }

                    //обработка галки "Учитывать продукты в холодильнике"
                    if (this.from_fridge) {
                        var ids = [];
                        var counts = [];
                        var filter_recipes_tmp = [];
                        var exclusion = [13, 14, 30, 41, 42, 43];

                        //выбираем из холодильника id и count
                        this.fridge.forEach(function (item, i, fridge) {
                            ids.push(item.id);
                            counts.push(item.count);
                        });

                        this.filter_recipes.forEach(function (item, i, filter_recipes) {
                            var idr = item.ingredients_id;
                            var countr = item.ingredients_count;

                            var flag = true;

                            //проверка на вхождение ингредиента в холодильник
                            for (var j = 0; j < idr.length; j++) {
                                //проверяем ингредиент в списке исключений
                                if (exclusion.includes(idr[j]))
                                    continue;

                                if (!ids.includes(idr[j])) {
                                    flag = false;
                                    break;
                                }

                                var index = ids.indexOf(idr[j]);
                                if (Number(counts[index]) < Number(countr[j])) {
                                    flag = false;
                                    break;
                                }
                            }

                            if (flag == true)
                                filter_recipes_tmp.push(item);

                        });

                        this.filter_recipes = filter_recipes_tmp;
                    }

                    //проверка, что название подходит под строку поиска
                    if (this.search_str != null) {
                        var filter_recipes_tmp = this.filter_recipes;
                        this.filter_recipes = [];
                        i = 0;

                        for (j = 0; j < filter_recipes_tmp.length; j++)
                            if (filter_recipes_tmp[j].name.toLowerCase().search(this.search_str.toLowerCase()) != -1)
                                this.filter_recipes[i++] = filter_recipes_tmp[j];
                    }

                    this.page_cnt = Math.ceil(this.filter_recipes.length / this.recipes_at_one_page);
                },

                //формирование списка рецептов на текущей странице
                get_cur_page_list(page) {
                    scrollTo(0, 0);
                    this.cur_page_recipes = [];
                    page--;
                    page *= this.recipes_at_one_page;
                    i = 0;
                    while (this.cur_page_recipes.length < this.recipes_at_one_page) {
                        if (this.filter_recipes[i + page] != null)
                            this.cur_page_recipes[i] = this.filter_recipes[i + page];
                        else
                            break;
                        i++;
                    }
                },

                //проставление всех галок
                check_all() {
                    var flag;
                    if (this.categories[0].check == true)
                        flag = false;
                    else
                        flag = true;
                    for (i = 0; i < this.categories.length; i++)
                        this.categories[i].check = flag;
                    this.refresh();
                },

                //функция, выполняемая перед вызовом модального окна
                before_modal_window() {
                    this.login = null;
                    this.password = null;
                    this.rep_password = null;
                    this.wrong_login = false;
                    this.wrong_password = false;
                    this.wrong_rep_password = false;
                },

                //авторизация
                entry() {
                    //проверяем заполнение полей
                    if (this.login == null || this.password == null) {
                        if (this.login == null) {
                            this.wrong_login = true;
                            this.error_login = '*введите логин';
                        }
                        if (this.password == null)
                            this.wrong_password = true;
                    }
                    else {
                        //отправляем запрос на проверку пользователя
                        axios.get(this.url.auth_user, {
                            params: {
                                login: this.login,
                                password: this.password
                            }
                        }).then(function (response) {
                            if (response.data != '!') {
                                this.user_id = response.data[0].id;
                                //перезагрузка страницы (необходимо для полной инициализации страницы авторизованного пользователя)
                                window.location.reload();
                            }
                            else
                                alert('Неверный логин или пароль');
                        });
                    }
                },

                //регистрация
                registartion() {
                    //проверяем заполнение полей
                    if (this.login == null || this.password == null || this.rep_password == null) {
                        if (this.login == null) {
                            this.wrong_login = true;
                            this.error_login = '*введите логин';
                        }
                        if (this.password == null)
                            this.wrong_password = true;
                        if (this.rep_password == null) {
                            this.wrong_rep_password = true;
                            this.error_rep_password = '*введите пароль еще раз';
                        }
                        return;
                    }

                    //проверяем совпадение паролей
                    if (this.password != this.rep_password) {
                        this.wrong_rep_password = true;
                        this.error_rep_password = '*введенные пароли не совпадают';
                        return;
                    }

                    alert(this.login + this.password);
                    axios.post(this.url.registration, {
                        login: this.login,
                        password: this.password
                    }).then(function (response) {
                        if (response.data == '!')
                            alert('Пользователь с указанным логином уже существует');
                        else {
                            alert('Регистрация успешна');
                            window.location.reload();	//перезагрузка страницы
                        }
                    });
                },

                //выход
                exit() {
                    //отправляем запрос на проверку пользователя
                    axios.get(this.url.exit).then(function (response) {
                        window.location.reload();	//перезагрузка страницы
                    })
                },

                //обновление списка рецептов на основе новых фильтров
                refresh() {
                    this.count_pages();
                    this.get_cur_page_list(1);
                },

                //получение страницы с рецептом
                get_recipe(id) {
                    //отправляем на сервер id рецепта, на который перешли
                    axios.get(this.url.id_recipe, {
                        params: { id: id }
                    })
                }

            }
        })
    </script>
</body>
</html>