﻿<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="task_control.css" rel="stylesheet" type="text/css">
    <title>Кулинарная книга</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div v-if="user_id != null" id="recipe_page">

        <!--шапка-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-image: url(img/top2.png); border-bottom: 1px solid #000000;">
            <div class="collapse navbar-collapse" id="navbarNav">
                <template v-if="user_id != null">
                    Пользователь: {{user_name}}
                    <pre>  </pre>
                </template>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-right: 2%">
                        <a class="nav-link" href="http://localhost:3000/" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 155px; border: 1px solid #000000; text-align: center; color: black">К рецептам</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id == 1" class="nav-link" href="add_ingredient_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 180px; border: 1px solid #000000; text-align: center; color: black">Добавить ингредиент</a>
                    </li>
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id != null" class="nav-link" href="fridge_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; border: 1px solid #000000; text-align: center; color: black">Холодильник</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="http://localhost:3000/" style="margin-left: 5%"><img src="img/logo2.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-4 col-lg-2 navbar-container categories" style="padding-top: 70px;">
                    <!--вертикальное меню-->
                    <nav class="navbar navbar-expand-md navbar-light st" style="">
                        <div>
                            <a class="navbar-brand" style="color: #d99600; font-size: 17px; text-align: center">
                                <img src="img/logo.png">
                                <br>САЙТ ОТЛИЧНЫХ РЕЦЕПТОВ
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                </div>

                <!--область справа-->
                <div class="col-md-8 col-lg-9 content-container" style="padding-top: 70px">

                    <!--блок формы рецепта-->
                    <div>

                        <!--синяя шапка блока-->
                        <form style="background-color: white; margin: 10px; border-radius: 10px;">
                            <div style="background-color: #01212b; color: white; border-radius: 10px 10px 0px 0px">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-left: 2%">
                                    </div>
                                    <div class="col-sm-6">
                                        <h3 align="center" style="text-transform:uppercase;">- ФОРМА РЕЦЕПТА -</h3>
                                    </div>
                                </div>
                            </div>

                            <!--все поля ввода-->
                            <table style="position: center">

                                <!--название блюда-->
                                <tr style="margin: 2%; width: 96%;">
                                    <div style="margin: 2%; width: 96%;">
                                        <label for="name">Название блюда</label>
                                        <input v-model="name" id="name" class="form-control" type="text">
                                    </div>
                                </tr>

                                <!--изображение-->
                                <tr>
                                    <div style="margin: 2%; width: 96%">
                                        <label for="image">Изображение</label>
                                        <input v-model="image" id="image" class="form-control" type="text">
                                    </div>
                                </tr>

                                <!--описание блюда-->
                                <tr>
                                    <label for="description" style="margin-left: 2%;">Описание блюда</label>
                                    <div class="input-group mb-3" style="margin-left: 2%; width: 96%">
                                        <br>
                                        <textarea v-model="description" id="description" class="form-control"></textarea>
                                    </div>
                                </tr>

                                <!--рецепт-->
                                <tr>
                                    <label for="recipe" style="margin-left: 2%;">Рецепт</label>
                                    <div class="input-group mb-3" style="margin-left: 2%; width: 96%">
                                        <br>
                                        <textarea v-model="recipe" id="recipe" class="form-control"></textarea>
                                    </div>
                                </tr>

                                <!--категории блюда-->
                                <tr>
                                    <label for="recipe" style="margin-left: 2%;">Добавить категории</label>
                                    <div class="input-group mb-3" style="margin-left: 2%; width: 96%">
                                        <br>
                                        <select v-model="add_categories" class="form-control">
                                            <option v-for="l in categories">{{l.name}}</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" @click="c_add" type="button" style="height: 38px">Добавить</button>
                                        </div>
                                    </div>
                                </tr>

                                <!--ингредиенты-->
                                <tr>
                                    <label for="recipe" style="margin-left: 2%;">Добавить ингредиенты</label>
                                    <div class="input-group mb-3" style="margin-left: 2%; width: 96%">
                                        <br>
                                        <select v-model="add_ingredients" class="form-control" style="width: 40%">
                                            <option v-for="l in ingredients">{{l.c_name}}</option>
                                        </select>
                                        <input v-model="add_count" type="text" class="form-control" style="height: 38px" placeholder="Кол-во" aria-label="Кол-во">
                                        <div class="input-group-prepend" style="height: 38px">
                                            <span class="input-group-text" id="">{{unit}}</span>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" @click="i_add" type="button" style="height: 38px">Добавить</button>
                                        </div>
                                    </div>
                                </tr>
                            </table>

                            <!--вывод выбранных ингредиентов и категорий-->
                            <div class="row">

                                <!--вывод категорий-->
                                <div class="col-sm-4" style="margin-left: 2%">
                                    <div style="position:center">
                                        <h3 align="left">Категории:</h3>
                                        <div v-show="!flag_c">
                                            <label align="left">На данный момент нет категорий</label>
                                        </div>
                                        <table>
                                            <tr v-for="(l, index) in new_categories">
                                                <td><button type="button" class="btn btn-outline-secondary" v-on:click="del_с(index)">X</button></td>
                                                <td>{{l.name}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                </div>

                                <!--вывод ингредиентов-->
                                <div class="col-sm-4" style="margin-left: 2%">
                                    <h3 align="left">Ингредиенты:</h3>
                                    <div v-show="!flag_i">
                                        <label align="left">На данный момент нет ингредиентов</label>
                                    </div>
                                    <table>
                                        <tr v-for="(l, index) in new_ingredients">
                                            <td><button type="button" class="btn btn-outline-secondary" v-on:click="del_i(index)">X</button></td>
                                            <td>{{l.c_name}} {{l.c_count}} {{l.c_unit}}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-sm-2">
                                </div>
                            </div>


                        </form>
                    </div>

                    <!--блок формы рецепта-->
                    <div class="col-md-8 col-lg-9 content-container">
                        <button type="button" class="btn btn-outline-warning" v-on:click="send" style="center; background-color: #01212b; margin-bottom: 3%; position:inherit">Отправить рецепт</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        var recipe_page = new Vue({
            el: '#recipe_page',
            data: {

                // заполняем из базы
                categories: [],
                ingredients: [],
                user_id: null,
                user_name: null,

                // сохраняем для отправки в БД
                new_categories: [],             // названия сохранённых категорий
                new_num_categories: [],         // номера сохранённых категорий
                num_categories: '',             // строковый формат номеров сохранённых категорий для передачи в БД
                new_ingredients: [],            // названия сохранённых ингредиентов
                new_num_ingredients: [],        // номера сохранённых ингредиентов
                num_ingredients: '',            // строковый формат номеров сохранённых ингредиентов для передачи в БД
                new_count: [],                  // количество используемых ингредиентов
                count: '',                      // количество используемых ингредиентов в строковом формате для передачи в БД
                recipe: '',                     // рецепт
                description: '',                // описание блюда
                name: '',                       // название блюда
                image: '',                      // изображение

                // временные значения для добавления в массивы
                add_categories: '',
                add_ingredients: '',
                add_count: '',

                // количество элементов
                n_ingredients: 0,
                n_categories: 0,

                // флаги
                flag_c: 0,                      // флаг наличия элементов в массиве выбранных категорий
                flag_i: 0,                      // флаг наличия элементов в массиве выбранных ингредиентов

                // в чём измеряется количества продукта
                unit: 'шт.'
            },
            // функции, выполняющиеся при запуске страницы
            created: function () {
                this.fetchItems();

                //отправляем запрос, авторизован ли пользователь (через куки)
                let url = '/check';
                axios.get(url).then((response) => {
                    if (response.data != '!') {
                        this.user_id = response.data[0].id;
                        this.user_name = response.data[0].login;
                    }
                });
            },
            // значения, за изменениями которыми необходимо следить
            watch: {
                add_ingredients: function () {
                    this.change_unit();
                }
            },
            methods: {
                fetchItems() {

                    // считываю из базы существующие категории
                    let url = '/Category_dish';
                    axios.get(url).then((response) => {
                        console.log(this);
                        this.categories = response.data;

                        /*this.categories.sort(function (a, b) {
                            if (a.name > b.name) {
                                return 1;
                            }
                            if (a.name < b.name) {
                                return -1;
                            }
                            return 0;
                        });*/
                    });

                    // считываю из базы существующие ингредиенты
                    url = '/Products';
                    axios.get(url).then((response) => {
                        console.log(this);
                        this.ingredients = response.data;

                        this.ingredients.sort(function (a, b) {
                            if (a.c_name > b.c_name) {
                                return 1;
                            }
                            if (a.c_name < b.c_name) {
                                return -1;
                            }
                            return 0;
                        });
                    });
                },

                // добавление новой категории
                c_add() {
                    // проверка на пустоту значения добавляемой категории
                    if (this.add_categories != "") {

                        let categorie = this.categories.find(item => item.name == this.add_categories);

                        // проверка на повтор
                        if (this.new_num_categories.indexOf(categorie.ID) == -1) {

                            this.flag_c = 1;
                            this.n_categories++;

                            this.new_categories.push({ 'name': this.add_categories });

                            this.new_num_categories.push(categorie.ID);
                            var b = JSON.stringify(this.new_num_categories);
                            this.num_categories = "{\"0\":" + b + "}";
                        }
                        else {
                            alert("Эта категория уже добавлена");
                        }
                    }
                    else {
                        alert("Выберите категорию, которую хотите добавить");
                    }
                },

                // добавление нового ингредиента
                i_add() {

                    // проверка на пустоту значений добавляемого ингредиента
                    if (this.add_count != "" && this.add_ingredients != "") {

                        var flag = true;
                        let z = 0;

                        // проверка на корректность
                        for (let i = 0; i < this.add_count.length; i++) {

                            if (this.add_count[i] < '0' || this.add_count[i] > '9') {
                                if (this.add_count[i] == ',' || this.add_count[i] == '.') {
                                    z++;
                                    if (z > 1 || i == 0 || i == this.add_count.length - 1) {
                                        flag = false
                                        break;
                                    }
                                }
                                else {
                                    flag = false
                                    break;
                                }
                            }
                        }

                        if (flag == true) {

                            let ingredient = this.ingredients.find(item => item.c_name == this.add_ingredients);

                            // проверка на повтор
                            if (this.new_num_ingredients.indexOf(ingredient.c_id) == -1) {

                                this.flag_i = 1;
                                this.n_ingredients++;

                                var newstr = this.add_count.replace(',', '.');

                                this.new_ingredients.push({ 'c_name': this.add_ingredients, 'c_count': newstr, 'c_unit': this.unit });

                                this.new_num_ingredients.push(ingredient.c_id);
                                var b = JSON.stringify(this.new_num_ingredients);
                                this.num_ingredients = "{\"0\":" + b + "}";

                                this.new_count.push(newstr);
                                b = JSON.stringify(this.new_count);
                                this.count = "{\"0\":" + b + "}";
                            }
                            else {
                                alert("Этот ингредиент уже добавлен");
                            }
                        }
                        else {
                            alert("Некорреткно задано кол-во ингредиента");
                        }
                    }
                    else {
                        // вывод сообщения об ошибке
                        if (this.add_ingredients == "") {
                            alert("Выберите ингредиент, который хотите добавить");
                        }
                        else {
                            alert("Чтобы добавить ингредиент, укажите его количество");
                        }
                    }
                },

                // удаление категории
                del_с: function (index) {
                    this.n_categories--;
                    if (this.n_categories == 0) this.flag_c = 0;
                    this.new_categories.splice(index, 1);
                    this.new_num_categories.splice(index, 1);

                    if (this.n_categories != 0) {
                        var b = JSON.stringify(this.new_num_categories);
                        this.num_categories = "{\"0\":" + b + "}";
                    }
                },

                // удаление ингредиента
                del_i: function (index) {
                    this.n_ingredients--;
                    if (this.n_ingredients == 0) this.flag_i = 0;
                    this.new_ingredients.splice(index, 1);
                    this.new_num_ingredients.splice(index, 1);
                    this.new_count.splice(index, 1);

                    if (this.n_ingredients != 0) {
                        var b = JSON.stringify(this.new_num_ingredients);
                        this.num_ingredients = "{\"0\":" + b + "}";

                        b = JSON.stringify(this.new_count);
                        this.count = "{\"0\":" + b + "}";
                    }
                },

                // изменение значение unit
                change_unit: function () {
                    let ingredient = this.ingredients.find(item => item.c_name == this.add_ingredients);
                    this.unit = ingredient.c_unit;
                },

                // сохранение нового рецепта в БД
                send: function () {

                    if (this.n_ingredients != 0 && this.n_categories != 0 && this.recipe != "" && this.image != "" && this.name != "" && this.description != "") {

                        alert("Блюдо сохранено");

                        axios.post('/save_recipe', {
                            name: this.name,
                            img: this.image,
                            descr: this.description,
                            recipe: this.recipe,
                            category: this.num_categories,
                            ingredients_id: this.num_ingredients,
                            ingredients_count: this.count
                        });
                    }
                    else {
                        alert("Необходимо заполнить все поля");
                    }

                },
            }
        })
    </script>
</body>
</html>