﻿<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="task_control.css" rel="stylesheet" type="text/css">
    <title>Кулинарная книга</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div v-if="user_id != null" id="ingredient_page">

        <!--шапка-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-image: url(img/top2.png); border-bottom: 1px solid #000000;">
            <div class="collapse navbar-collapse" id="navbarNav">
                <template v-if="user_id != null">
                    Пользователь: {{user_name}}
                    <pre>  </pre>
                </template>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-right: 2%">
                        <a class="nav-link" href="http://localhost:3000/" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 155px; border: 1px solid #000000; text-align: center; color: black">К рецептам</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id != null" class="nav-link" href="add_recipe_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 155px; border: 1px solid #000000; text-align: center; color: black">Добавить рецепт</a>
                    </li>
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id != null" class="nav-link" href="fridge_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; border: 1px solid #000000; text-align: center; color: black">Холодильник</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="http://localhost:3000/" style="margin-left: 5%"><img src="img/logo2.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-4 col-lg-2 navbar-container categories" style="padding-top: 70px;">
                    <!--вертикальное меню-->
                    <nav class="navbar navbar-expand-md navbar-light st" style="">
                        <div>
                            <a class="navbar-brand" style="color: #d99600; font-size: 17px; text-align: center">
                                <img src="img/logo.png">
                                <br>САЙТ ОТЛИЧНЫХ РЕЦЕПТОВ
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                </div>

                <!--область справа-->
                <div class="col-md-8 col-lg-9 content-container" style="padding-top: 70px">

                    <!--блок формы рецепта-->
                    <div>

                        <!--синяя шапка блока-->
                        <form style="background-color: white; margin: 10px; border-radius: 10px;">
                            <div style="background-color: #01212b; color: white; border-radius: 10px 10px 0px 0px">
                                <div class="row">
                                    <div class="col-sm-3" style="margin-left: 2%">
                                    </div>
                                    <div class="col-sm-6">
                                        <h3 align="center" style="text-transform:uppercase;">- ФОРМА ИНГРЕДИЕНТА -</h3>
                                    </div>
                                </div>
                            </div>

                            <!--все поля ввода-->
                            <table style="position: center">

                                <!--название ингредиента-->
                                <tr style="margin: 2%; width: 96%;">
                                    <div style="margin: 2%; width: 96%;">
                                        <label for="name">Название ингредиента</label>
                                        <input v-model="name" id="name" class="form-control" type="text">
                                    </div>
                                </tr>

                                <!--категория ингредиента-->
                                <tr>
                                    <label for="new_category" style="margin-left: 2%;">Категория продукта</label>
                                    <div class="input-group mb-3" style="margin-left: 2%; width: 96%">
                                        <br>
                                        <select v-model="new_category" class="form-control">
                                            <option v-for="l in categories">{{l.name}}</option>
                                        </select>
                                    </div>
                                </tr>

                                <!--величины измерения-->
                                <tr>
                                    <label for="new_unit" style="margin-left: 2%;">В чём измеряется продукт</label>
                                    <div class="input-group mb-3" style="margin-left: 2%; width: 96%">
                                        <br>
                                        <select v-model="new_unit" class="form-control" style="width: 40%">
                                            <option v-for="l in units">{{l.name}}</option>
                                        </select>
                                    </div>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <!--блок формы рецепта-->
                    <div class="col-md-8 col-lg-9 content-container">
                        <button type="button" class="btn btn-outline-warning" v-on:click="send" style="center; background-color: #01212b; margin-bottom: 3%; position:inherit">Отправить ингредиент</button>;
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        var recipe_page = new Vue({
            el: '#ingredient_page',
            data: {

                // заполняем из базы
                categories: [],
                units: [],
                user_id: null,
                user_name: null,

                // сохраняем для отправки в БД
                new_category: '',             // номер сохранённой категории
                new_unit: '',            // номер величины измерения
                name: '',                       // название блюда
            },
            // функции, выполняющиеся при запуске страницы
            created: function () {
                this.fetchItems();
                //отправляем запрос, авторизован ли пользователь (через куки)
                let url = '/check';
                axios.get(url).then((response) => {
                    if (response.data != '!') {
                        this.user_id = response.data[0].id;
                        this.user_name = response.data[0].login;
                    }
                });
            },
            // значения, за изменениями которыми необходимо следить
            watch: {
                add_ingredients: function () {
                    this.change_unit();
                }
            },
            methods: {
                fetchItems() {

                    // считываю из базы существующие категории ингредиентов
                    let url = '/Category_products';
                    axios.get(url).then((response) => {
                        console.log(this);
                        this.categories = response.data;

                        this.categories.sort(function (a, b) {
                            if (a.name > b.name) {
                                return 1;
                            }
                            if (a.name < b.name) {
                                return -1;
                            }
                            return 0;
                        });
                    });

                    // считываю из базы существующие величины измерения
                    url = '/Units';
                    axios.get(url).then((response) => {
                        console.log(this);
                        this.units = response.data;

                        this.units.sort(function (a, b) {
                            if (a.c_name > b.c_name) {
                                return 1;
                            }
                            if (a.c_name < b.c_name) {
                                return -1;
                            }
                            return 0;
                        });
                    });
                },

                // сохранение нового рецепта в БД
                send: function () {

                    if (this.new_unit != "" && this.name != "" && this.new_category != "") {

                        let un = this.units.find(item => item.name == this.new_unit);
                        let cat = this.categories.find(item => item.name == this.new_category);

                        alert("Ингредиент сохранен в БД");

                        axios.post('/save_product', {
                            name: this.name,
                            category: cat.ID,
                            unit: un.ID
                        });
                    }
                    else {
                        alert("Необходимо заполнить все поля");
                    }

                },
            }
        })
    </script>
</body>
</html>