<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="task_control.css" rel="stylesheet" type="text/css">
    <title>Кулинарная книга</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div v-if="user_id != null" id="fridge_page">

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-image: url(img/top2.png); border-bottom: 1px solid #000000;">
            <div class="collapse navbar-collapse" id="navbarNav">
                <template v-if="user_id != null">
                    Пользователь: {{user_name}}
                    <pre>  </pre>
                </template>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-right: 2%">
                        <a class="nav-link" href="http://localhost:3000/" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 155px; border: 1px solid #000000; text-align: center; color: black">К рецептам</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 2%">
                        <a v-if="user_id == 1" class="nav-link" href="add_ingredient_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 180px; border: 1px solid #000000; text-align: center; color: black">Добавить ингредиент</a>
                    </li>
                    <li class="nav-item" style="margin-right: 2%">
                        <a class="nav-link" href="add_recipe_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 155px; border: 1px solid #000000; text-align: center; color: black">Добавить рецепт</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="http://localhost:3000/" style="margin-left: 5%"><img src="img/logo2.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-lg-2 navbar-container categories" style="padding-top: 70px;">
                    <!--вертикальное меню-->
                    <nav class="navbar navbar-expand-md navbar-light st" style="">
                        <div>
                            <a class="navbar-brand" style="color: #d99600; font-size: 17px; text-align: center">
                                <img src="img/logo.png">
                                <br>САЙТ ОТЛИЧНЫХ РЕЦЕПТОВ
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                </div>

                <!--область справа-->
                <div class="col-md-8 col-lg-9 content-container" style="padding-top: 70px">

                    <h3 align="center" style="margin: 10px">ХОЛОДИЛЬНИК</h3>

                    <input class="form-control mr-sm-2" type="search" v-model="search_str" @change="refresh()" placeholder="Поиск ингредиентов" aria-label="Search">

                    <br>

                    <!--ингредиенты-->
                    <label style="margin-left: 2%;">Добавить ингредиенты</label>
                    <div class="input-group mb-3" style="margin-left: 2%; width: 96%">
                        <br>
                        <select v-model="add_ingredients" class="form-control" style="width: 40%">
                            <option v-for="l in ingredients">{{l.c_name}}</option>
                        </select>
                        <input v-model="add_count" type="text" class="form-control" style="height: 38px" placeholder="Кол-во" aria-label="Кол-во">
                        <div class="input-group-prepend" style="height: 38px">
                            <span class="input-group-text" id="">{{unit}}</span>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" @click="add_ingred()" type="button" style="height: 38px; background-color: white">Добавить</button>
                        </div>
                    </div>

                    <br>

                    <!--таблица с ингредиентами-->
                    <table class="table table-striped table-bordered" style="background-color: white">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="text-center" style="width: auto; background-color: #01212b; color: white">Название продукта</th>
                                <th scope="col" class="text-center" style="width: 25%; background-color: #01212b; color: white">Количество</th>
                                <th scope="col" class="text-center" style="width: 15%; background-color: #01212b; color: white">Изменить</th>
                                <th scope="col" class="text-center" style="width: 15%; background-color: #01212b; color: white">Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="ingredient in filter_fridge">
                                <td class="align-middle text-center">
                                    {{ingredient.name}}
                                </td>
                                <td class="align-middle text-center">
                                    {{ingredient.count}} {{ingredient.unit}}
                                </td>
                                <td class="align-middle text-center">
                                    <button type="button" class="one_px_border btn-sm white_button" data-toggle="modal" data-target="#Change_count" @click="change_count(ingredient.id)">Изменить</button>
                                </td>
                                <td class="align-middle text-center">
                                    <button type="button" class="one_px_border btn-sm white_button" data-toggle="modal" data-target="#Delete_ingredient" @click="change_count(ingredient.id)">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--модальное окно изменения количества-->
            <div class="modal fade" id="Change_count" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Изменить количество</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Значение</label>
                                    <input type="text" class="form-control" placeholder="Введите количество" v-model="count">
                                    <label style="font-size: 10pt; color: red" v-if="wrong_count">{{error_count}}</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" @click="change()" :data-dismiss="can_be_closed">Принять</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="Delete_ingredient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Удаление продукта</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Вы точно хотите удалить продукт из холодильника?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button @click="delete_ingred()" type="button" class="btn btn-primary" data-dismiss="modal">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var fridge_page = new Vue({
            el: '#fridge_page',
            data: {
                //---Структурные переменные---
                search_str: '',		//строка поиска
                filter_fridge: [],	//список ингредиентов в соответствии с фильтром

                error_count: false,	//наличие ошибок в количестве
                wrong_count: false,	//текст ошибок в количестве
                can_be_closed: null,//разрешение закрытия модального окна

                //---Количества ингредиента при открытии модального окна---
                count: null,
                units: null,
                id: null,

                //добавление ингредиента
                add_ingredients: '',
                add_count: '',

                // в чём измеряется количества продукта
                unit: 'шт.',

                //список всех ингредиентов (структура - id, name, category, unit)
                ingredients: [],

                //id текущего пользователя
                user_id: null,

                //логин текущего пользователя
                user_name: null,

                //ссылки для запросов
                url: {
                    check: '/fridge_page.html/check',	//получение логина пользователя
                    products: '/Products',				//получение списка всех ингредиентов
                    fridge_change: '/Fridge_change',	//обновление холодильника
                    fridge: '/Fridge'					//получение холодильника
                },

                //продукты из холодильника (структура - id, name, unit, count)
                fridge: []
            },
            created: function () {
                //отправляем запрос, авторизован ли пользователь
                axios.get(this.url.check).then((response) => {
                    if (response.data != '!') {
                        this.user_name = response.data[0].login;
                        this.user_id = response.data[0].id;
                    }
                });

                //отправляем запрос на получение списка всех ингредиентов
                axios.get(this.url.products).then((response) => {
                    this.ingredients = [];
                    this.ingredients = response.data;
                    this.ingredients.sort(function (a, b) {
                        if (a.c_name > b.c_name) {
                            return 1;
                        }
                        if (a.c_name < b.c_name) {
                            return -1;
                        }
                        return 0;
                    });
                });
            },
            watch: {
                user_id: function () {
                    //отправляем запрос на получение холодильника
                    axios.get(this.url.fridge, {
                        params: {
                            id: this.user_id
                        }
                    }).then((response) => {
                        this.fridge = response.data;
                        this.cur_fridge();
                    });
                },

                add_ingredients: function () {
                    this.change_unit();
                }
            },
            methods: {

                //формирование списка ингредиентов в соответствии со строкой поиска
                cur_fridge() {
                    i = 0;
                    this.filter_fridge = [];
                    for (j = 0; j < this.fridge.length; j++) {
                        if (this.search_str == null || this.fridge[j].name.toLowerCase().search(this.search_str.toLowerCase()) != -1) {
                            if (this.fridge[j] != null) {
                                this.filter_fridge[i] = this.fridge[j];
                                i++;
                            }
                        }
                    }
                },

                //изменение значение unit
                change_unit: function () {
                    let ingredient = this.ingredients.find(item => item.c_name == this.add_ingredients);
                    this.unit = ingredient.c_unit;
                },

                //обновление списка ингредиентов
                refresh() {
                    this.cur_fridge();
                },

                //изменение количества ингредиента
                change_count(id) {
                    var ingred = this.fridge.find(item => item.id == id);
                    this.count = ingred.count;
                    this.units = ingred.units;
                    this.id = ingred.id;
                },

                //удаление ингредиента
                delete_ingred() {
                    var ingredients_id = [];
                    var ingredients_count = [];
                    var index;
                    var j = 0;

                    for (i = 0; i < this.fridge.length; i++) {
                        if (this.fridge[i].id != this.id) {
                            ingredients_id[j] = this.fridge[i].id;
                            ingredients_count[j] = this.fridge[i].count;
                            j++;
                        }
                        else
                            index = i;
                    }

                    this.fridge.splice(index, 1);

                    this.cur_fridge();

                    var ingredients_id_s = {};
                    var ingredients_count_s = {};

                    ingredients_id_s[0] = ingredients_id;
                    ingredients_count_s[0] = ingredients_count;

                    ingredients_id_s = JSON.stringify(ingredients_id_s);
                    ingredients_count_s = JSON.stringify(ingredients_count_s);

                    console.log(ingredients_id_s);
                    console.log(ingredients_count_s);
                    console.log(this.fridge);

                    axios.post(this.url.fridge_change, {
                        id: this.user_id,
                        ingredients_id: ingredients_id_s,
                        ingredients_count: ingredients_count_s
                    });
                },

                //изменение количества ингредиента
                change() {
                    this.can_be_closed = null;

                    var z = 0;

                    //проверка на корректность посимвольно
                    for (let i = 0; i < this.count.length; i++) {
                        //все символы - цифры
                        if (this.count[i] < '0' || this.count[i] > '9') {
                            //если символ точка или запятая, то не первая и только одна
                            if (this.count[i] == ',' || this.count[i] == '.') {
                                z++;
                                if (z > 1 || i == 0 || i == this.count.length - 1) {
                                    alert("Разделительный знак может быть только один и не с конца строки");
                                    return;
                                }
                            }
                            else {
                                alert("Количество должно быть числом");
                                return;
                            }
                        }
                    }

                    //количество должно быть положительным числом
                    if (this.count == 0) {
                        alert("Количество должно быть больше 0");
                        return;
                    }

                    this.count.replace(',', '.');

                    var ingredients_id = [];
                    var ingredients_count = [];

                    for (i = 0; i < this.fridge.length; i++) {
                        if (this.fridge[i].id == this.id)
                            this.fridge[i].count = this.count;

                        ingredients_id[i] = this.fridge[i].id;
                        ingredients_count[i] = this.fridge[i].count;
                    }

                    this.cur_fridge();
                    this.can_be_closed = 'modal';

                    var ingredients_id_s = {};
                    var ingredients_count_s = {};

                    ingredients_id_s[0] = ingredients_id;
                    ingredients_count_s[0] = ingredients_count;

                    ingredients_id_s = JSON.stringify(ingredients_id_s);
                    ingredients_count_s = JSON.stringify(ingredients_count_s);

                    console.log(ingredients_id_s);
                    console.log(ingredients_count_s);
                    console.log(this.fridge);

                    axios.post(this.url.fridge_change, {
                        id: this.user_id,
                        ingredients_id: ingredients_id_s,
                        ingredients_count: ingredients_count_s
                    });
                },

                //добавление нового ингредиента
                add_ingred() {
                    //проверка на пустоту значений добавляемого ингредиента
                    if (this.add_count != "" && this.add_ingredients != "") {

                        var flag = true;
                        let z = 0;

                        //проверка на корректность
                        for (let i = 0; i < this.add_count.length; i++) {

                            if (this.add_count[i] < '0' || this.add_count[i] > '9') {
                                if (this.add_count[i] == ',' || this.add_count[i] == '.') {
                                    z++;
                                    if (z > 1 || i == 0 || i == this.add_count.length - 1) {
                                        flag = false
                                        break;
                                    }
                                }
                                else {
                                    flag = false
                                    break;
                                }
                            }
                        }

                        if (flag == true) {

                            let ingredient = this.ingredients.find(item => item.c_name == this.add_ingredients);

                            //проверка на повтор
                            if (this.fridge.find(item => item.id == ingredient.c_id) == undefined) {
                                var newstr = this.add_count.replace(',', '.');

                                this.fridge.push({
                                    id: ingredient.c_id,
                                    name: this.add_ingredients,
                                    count: newstr,
                                    unit: this.unit
                                });

                                var ingredients_id = [];
                                var ingredients_count = [];

                                for (i = 0; i < this.fridge.length; i++) {
                                    if (this.fridge[i].id == this.id)
                                        this.fridge[i].count = this.count;

                                    ingredients_id[i] = this.fridge[i].id;
                                    ingredients_count[i] = this.fridge[i].count;
                                }

                                this.cur_fridge();
                                this.can_be_closed = 'modal';

                                var ingredients_id_s = {};
                                var ingredients_count_s = {};

                                ingredients_id_s[0] = ingredients_id;
                                ingredients_count_s[0] = ingredients_count;

                                ingredients_id_s = JSON.stringify(ingredients_id_s);
                                ingredients_count_s = JSON.stringify(ingredients_count_s);

                                console.log(ingredients_id_s);
                                console.log(ingredients_count_s);
                                console.log(this.fridge);

                                axios.post(this.url.fridge_change, {
                                    id: this.user_id,
                                    ingredients_id: ingredients_id_s,
                                    ingredients_count: ingredients_count_s
                                });
                            }
                            else {
                                alert("Этот ингредиент уже есть в холодильнике");
                            }
                        }
                        else {
                            alert("Некорреткно задано кол-во ингредиента");
                        }
                    }
                    else {
                        //вывод сообщения об ошибке
                        if (this.add_ingredients == "") {
                            alert("Выберите ингредиент, который хотите добавить");
                        }
                        else {
                            alert("Чтобы добавить ингредиент, укажите его количество");
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>