<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="task_control.css" rel="stylesheet" type="text/css">
	<title>Кулинарная книга</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
	<div id = "recipe_page">
		
		<!--шапка-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-image: url(img/top2.png); border-bottom: 1px solid #000000;">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item" style="margin-right: 2%">
						<a class="nav-link" href="http://localhost:3000/" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; width: 155px; border: 1px solid #000000; text-align: center; color: black">К рецептам</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item" style="margin-right: 2%">
						<a v-if="user_name != null" class="nav-link" href="fridge_page.html" style="background-color: #ffffff; border-radius: 5px 5px 5px 5px; border: 1px solid #000000; text-align: center; color: black">Холодильник</a>
					</li>
				</ul>
			</div>
			<a class="navbar-brand" href="http://localhost:3000/" style="margin-left: 5%"><img src="img/logo2.png"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
		
		<a href="https://ancient-bayou-55864.herokuapp.com"><button type="button" class="one_px_border btn-lg white_button" style="margin: 10px">К рецептам</button></a>
		
		<!--блок рецепта-->
		<div>
			<form style="background-color: white; margin: 10px; border-radius: 10px;">
				<div style="background-color: #01212b; color: white; border-radius: 10px 10px 0px 0px"><h3 align="center" style="text-transform:uppercase;">- {{recipe.name}} -</h3></div>
				<div class="row">
					<div class="col">
						<img :src="recipe.picture" :alt="recipe.name" width="400" align="center" style="margin: 10px">
					</div>
					<div class="col">
						<p align="center" style="margin: 10px">{{recipe.description}}</p>
					</div>
				</div>
			</form>
			<form style="margin: 10px; background-color: white; border-radius: 10px;">
				<div style="background-color: #01212b; color: white; border-radius: 10px 10px 0px 0px"><h3 align="center" style="text-transform:uppercase;">- Рецепт -</h3></div>
				<div class="row" style="margin: 10px">
					<div class="col" style="width: 30%">
						<p><u>Продукты:</u></p>
						<ul v-for="ingredient in recipe.ingredients">
							<li>{{ingredient}}</li>
						</ul>
					</div>
					<div class="col" style="width: 70%">
						<p align="center"><u>Способ приготовления:</u></p>
						<p align="center" style="margin: 10px; white-space:pre-wrap">{{recipe.full_description}}</p>
					</div>
				</div>
			</form>
		</div>
		<br>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
		var recipe_page = new Vue({
			el: '#recipe_page',
			data: {
			
				//логин текущего пользователя
				user_name: null,
				
				//временный массив для получения данных с запроса
                tmp_recipe: [],
			
				//ссылки для запросов
                url: {
                    check: '/recipe_page.html/check',	//получение логина пользователя
                    full_recipes: '/Full_recipes'		//получение рецепта
                },
			
                recipe: null,
			},
			created: function()
			{
				//отправляем запрос на получение рецепта
				axios.get(this.url.full_recipes).then((response) => {
					this.tmp_recipe = response.data;
                });
			
				//отправляем запрос, авторизован ли пользователь
				axios.get(this.url.check).then((response) => {
                    if (response.data != '!')
						this.user_name = response.data;
                });
			},
			watch:{
				tmp_recipe: function() {
					
					//парсим строки в массивы
                    var categor = JSON.parse(this.tmp_recipe.category);
					var ingredients_name = JSON.parse(this.tmp_recipe.ingredients_name);
					var ingredients_count = JSON.parse(this.tmp_recipe.ingredients_count);
					var ingredients_unit = JSON.parse(this.tmp_recipe.ingredients_unit);
					var ingredients = [];
										
					for (i = 0; i < ingredients_name[0].length; i++)
                        ingredients[i] = ingredients_name[0][i] + ' - ' + ingredients_count[0][i] + ' ' + ingredients_unit[0][i];
					
					this.recipe = {	name: this.tmp_recipe.name,
									picture: this.tmp_recipe.img,
									description: this.tmp_recipe.descr,
									categories: categor,
									ingredients: ingredients,
									full_description: this.tmp_recipe.recipe};
					
					console.log(this.recipe);
				}
			},
			methods:{
			
			}
		})
	</script>
</body>
</html>