body {
	margin: 0;
	background-color: #f9fafd;
	background-attachment: fixed;
	background-image: url(img/background.png);
	background-repeat: repeat;
	background-size: 800px 566px;
}

.white_button:hover{
	opacity: 0.6;
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}

.one_px_border{
	border: 1px solid #000000;
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,1);
}

.table{
	width: 90%;
	height: 50px;
	margin-left: 5%;
	margin-right: 5%;
	table-layout: fixed;
	overflow-y: scroll;
}

.categories {
	background-image: url(img/categories.png);
	background-color: #01212b;
	background-position: bottom left;
	background-repeat: no-repeat;
}


@media (min-width: 768px) {
	.navbar-container {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
  }
  .navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  .navbar-container .navbar-collapse {
    align-items: flex-start;
	width: 70%;
  }
  .navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar-container .navbar-nav {
    flex-direction: column !important;
  }
}